*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Hina Mincho', serif;
    overflow-x: hidden;
}

.home{
    background-image: url(../img/entrada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.galeria, .contacto, .menu{
    background: radial-gradient(circle farthest-corner at bottom center, #fdefe1 0%, #746459f3 100%);
    overflow: hidden;
}

.reservas{
    background-image: url(../img/restaurante8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

.realizada{
    background-image: url(../img/restaurante7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

.beige{
    background-color: beige;
}

.mapa{
    width: 25em;
    height: 15em;
    padding: 0;
    margin: 0;
}

