*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Hina Mincho', serif;
    overflow-x: hidden;
}

.home{
    background-image: url(../img/entrada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

.galeria, .contacto{
    background-image: url(../img/fondoGaleria.jpg);
    background-repeat: repeat;
    background-position: center;  
    height: 100vh; 
}
